.Header {
    position: absolute;
    width: 1440px;
    height: 828px;
    left: 0px;
    top: 0px;
    background: linear-gradient(90deg, #5E239D 0%, rgba(196, 196, 196, 0) 56.77%);
    mix-blend-mode: multiply;
    background: #5E239D;
    }